body {
	color: white;
	background-color: white;
}



.ppp {
	color: red;
	font-size: 50px ;
	font-size: 20;
}
/*
p.lt {
	font-size: 40px;
}s
.cl {
	color: #0B3F17;
}
.micolor{
	background-color: black;
}*/